/* signup.css */
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border: 1px solid #0f0f0f;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make the form responsive */
    max-width: 300px; /* Set a maximum width */
    margin: auto;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px; 
    background-color: #292a2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #111;
}

.error {
    color: red;
}
